<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="fishbot_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="7.05177874503284E-05 6.67498456888219E-05 0.00684845732940876"
        rpy="0 0 0" />
      <mass
        value="0.304207175204105" />
      <inertia
        ixx="0.00176076217912754"
        ixy="3.78709934053227E-14"
        ixz="-3.3316562948922E-07"
        iyy="0.00295515551044642"
        iyz="2.87988014344522E-07"
        izz="0.00119666371798898" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.847058823529412 0.847058823529412 0.847058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_front_link">
    <inertial>
      <origin
        xyz="-0.0233068553215883 0.011492216385102 0.0313664700590276"
        rpy="0 0 0" />
      <mass
        value="0.0714253309367469" />
      <inertia
        ixx="7.43468069209142E-06"
        ixy="5.42367781480747E-07"
        ixz="-9.15743354643218E-07"
        iyy="8.02019792147159E-06"
        iyz="-9.21762527873308E-08"
        izz="8.1430184333024E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/right_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/right_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_front_joint"
    type="fixed">
    <origin
      xyz="-0.137960200768106 -0.121778990035522 0.00924792189905928"
      rpy="-2.09439582094359 -0.00157769701183465 -2.18536515078892" />
    <parent
      link="base_link" />
    <child
      link="right_front_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_back_link">
    <inertial>
      <origin
        xyz="0.000119614631683682 7.53809105816794E-05 -0.03304862913328"
        rpy="0 0 0" />
      <mass
        value="0.0714253309367469" />
      <inertia
        ixx="6.68382653885213E-06"
        ixy="-1.45497843123216E-08"
        ixz="-2.50957709498364E-10"
        iyy="7.97103739337073E-06"
        iyz="-1.41757713029446E-10"
        izz="8.9430331146426E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/right_back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/right_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_back_joint"
    type="continuous">
    <origin
      xyz="-0.140094280831052 0.115000000000005 -0.0165000000000062"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="right_back_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="left_back_link">
    <inertial>
      <origin
        xyz="6.90559456198031E-05 -0.000132600090756448 0.0330413260331527"
        rpy="0 0 0" />
      <mass
        value="0.0708586077626838" />
      <inertia
        ixx="6.62093528824987E-06"
        ixy="1.68384470770325E-08"
        ixz="2.06530486497115E-10"
        iyy="7.89159667805373E-06"
        iyz="-2.01047307886684E-10"
        izz="8.94230994435024E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/left_back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/left_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_back_joint"
    type="continuous">
    <origin
      xyz="0.14 0.115 -0.0164999999999996"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="left_back_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="left_front_link">
    <inertial>
      <origin
        xyz="0.000119614585266783 -7.53809144323006E-05 0.0329125653496101"
        rpy="0 0 0" />
      <mass
        value="0.0714253310843641" />
      <inertia
        ixx="6.68357386780167E-06"
        ixy="1.5484420162809E-08"
        ixz="2.50972087643996E-10"
        iyy="7.97127755708422E-06"
        iyz="-1.41755890493235E-10"
        izz="8.94317490078749E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/left_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/left_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_front_joint"
    type="continuous">
    <origin
      xyz="0.14 -0.115 -0.0164999999999997"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="left_front_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="-4.45319763734929E-05 -0.0104531321649117 1.03311165593306E-05"
        rpy="0 0 0" />
      <mass
        value="0.245352701493332" />
      <inertia
        ixx="0.000250637776818963"
        ixy="-2.23675676906905E-07"
        ixz="7.62133814930601E-09"
        iyy="0.000361139599285257"
        iyz="3.85073789548287E-08"
        izz="0.000259554765542595" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fishbot_description/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0 -0.03 0.042"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>