<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="car">
  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="-1.4 5.65 0.0" rpy="0 0 0"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.0803E-05 -0.0045695 0.0050109"
        rpy="0 0 0" />
      <mass
        value="0.42226" />
      <inertia
        ixx="0.0017823"
        ixy="6.2636E-10"
        ixz="-3.3312E-07"
        iyy="0.0029723"
        iyz="2.9034E-07"
        izz="0.0012087" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84706 0.84706 0.84706 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_front_link">
    <inertial>
      <origin
        xyz="0.00016011 0.0001009 -0.027066"
        rpy="0 0 0" />
      <mass
        value="0.05336" />
      <inertia
        ixx="4.5184E-06"
        ixy="-1.4984E-08"
        ixz="-2.5096E-10"
        iyy="4.5359E-06"
        iyz="-1.4175E-10"
        izz="4.4833E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/right_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/right_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_front_joint"
    type="continuous">
    <origin
      xyz="-0.14009 -0.115 -0.0165"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="right_front_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="right_back_link">
    <inertial>
      <origin
        xyz="-5.55111512312578E-16 1.2490009027033E-16 -0.015594853306968"
        rpy="0 0 0" />
      <mass
        value="0.0419127518234472" />
      <inertia
        ixx="3.67888005142831E-06"
        ixy="2.28145981313678E-21"
        ixz="-3.22886761893006E-22"
        iyy="3.67888005142832E-06"
        iyz="-1.32385087160284E-21"
        izz="3.56691829779812E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/right_back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/right_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_back_joint"
    type="continuous">
    <origin
      xyz="-0.14009 0.115 -0.0165"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="right_back_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="left_back_link">
    <inertial>
      <origin
        xyz="-1.38777878078145E-17 -5.55111512312578E-17 0.0154293684155187"
        rpy="0 0 0" />
      <mass
        value="0.0419127519739897" />
      <inertia
        ixx="3.6788737990088E-06"
        ixy="-7.73521187436646E-21"
        ixz="7.16437883301172E-22"
        iyy="3.67887379900881E-06"
        iyz="-8.34168697554494E-22"
        izz="3.56706008405781E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/left_back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/left_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_back_joint"
    type="continuous">
    <origin
      xyz="0.14 0.115 -0.0165"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="left_back_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="left_front_link">
    <inertial>
      <origin
        xyz="-2.77555756156289E-17 -8.67361737988404E-17 0.0154293684029885"
        rpy="0 0 0" />
      <mass
        value="0.0419127519710644" />
      <inertia
        ixx="3.67887379775984E-06"
        ixy="8.23919681472647E-21"
        ixz="8.52916931544246E-22"
        iyy="3.67887379775983E-06"
        iyz="5.99850813258787E-22"
        izz="3.56706008394302E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/left_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/left_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_front_joint"
    type="continuous">
    <origin
      xyz="0.14 -0.115 -0.0165"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="left_front_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fishbot_description/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0 -0.03 0.042"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>